
<div class="form-div">
  <button mat-button><a routerLink="/home">Back</a></button>
  <h1>Video Details</h1>
  <form  #videoForm="ngForm" (ngSubmit)="onSubmit(videoForm)">
    <mat-form-field class="width" appearance="fill">
      <mat-label>Video Url</mat-label>
      <input matInput placeholder="Video Url" type="url" name="url" #url="ngModel" ngModel appUrl required>
      <div *ngIf="url.invalid && (url.dirty || url.touched)">
        <div *ngIf="url.errors.required" style="color: red;"> *URL is mandatory</div>
        <div *ngIf="url.errors.pattern" style="color: red;"> *Pattern is wrong</div>
      </div>
    </mat-form-field>
    <br>
    <mat-form-field class="width" appearance="fill">
      <mat-label>Video Title</mat-label>
      <input matInput placeholder="Video Title" type="text" name="title" #title="ngModel" maxlength="120" ngModel required>
      <div *ngIf="url.invalid && (url.dirty || url.touched)">
        <div *ngIf="url.errors.required" style="color: red;"> *Title is mandatory</div>
        <div *ngIf="title.errors.maxlength">*Title cannot be greater than 120</div>
      </div>
    </mat-form-field>
    <br>
    <mat-form-field class="width" appearance="fill">
      <mat-label>Description</mat-label>
      <textarea matInput placeholder="Description" type="text" name="description" ngModel></textarea>
    </mat-form-field>
    <br>
    <mat-form-field class="width" appearance="fill">
      <mat-label>Video Duration</mat-label>
      <input matInput placeholder="Video Duration" type="time" name="duration"
             #duration="ngModel" ngModel required>
<!--      pattern="/^(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]$/"-->
      <div *ngIf="duration.invalid && (duration.dirty || duration.touched)">
        <div *ngIf="duration.errors.required" style="color: red;"> *Duration is mandatory</div>
        <div *ngIf="duration.errors.pattern" style="color: red;"> *Duration should be in this pattern"hh:mm:ss"</div>
      </div>
    </mat-form-field>
    <br>
    <mat-form-field class="width" appearance="fill">
      <mat-label>Channel Title</mat-label>
      <input matInput placeholder="Channel Title" type="text" name="channelTitle" ngModel required>
    </mat-form-field>
    <br>
    <div>Audience Type:</div>
    <br>
    <mat-radio-group aria-label="Select an option" style="margin-left: 16px" >
      <input value="yes" type="radio" name="audience" ngModel> Yes,its made for Kids
      <input value="no" type="radio" name="audience" ngModel>Not for kids
    </mat-radio-group>
    <br>
    <br>
    <div>Age Restriction:</div>
    <br>
    <mat-radio-group aria-label="Select an option" style="margin-left: 16px">
      <input value="yes" type="radio" name="age" ngModel>Yes, Restrict my videos to viewers over 18
      <input value="no" type="radio" name="age" ngModel>No, don't restrict my videos to viewers over 18
    </mat-radio-group>
    <br>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Recording Date</mat-label>
      <input matInput [matDatepicker]="picker" type="date" name="date" ngModel #date="ngModel">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <br>
    <h4>Video Location</h4>
    <mat-form-field appearance="fill">
      <mat-label>Country</mat-label>
      <mat-select name="location" ngModel >
        <mat-option *ngFor="let country of countryList" [value]="country.id">
          {{country.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <h4>License</h4>
    <mat-form-field appearance="fill">
      <mat-label>License</mat-label>
      <mat-select name="license" ngModel>
        <mat-option *ngFor="let license of licenseList" [value]="license.id">
          {{license.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <h4>Distribution</h4>
    <mat-form-field appearance="fill">
      <mat-label>Distribution</mat-label>
      <mat-select name="distribution" ngModel>
        <mat-option *ngFor="let distribution of distributionList" [value]="distribution.id">
          {{distribution.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <h4>Video Category</h4>
    <mat-form-field appearance="fill">
      <mat-label>Video Category</mat-label>
      <mat-select name="category" ngModel>
        <mat-option *ngFor="let video of videoList" [value]="video.id">
          {{video.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <div>Visibility:</div>
    <br>
    <mat-radio-group aria-label="Select an option" style="margin-left: 16px">
      <input type="radio" name="visibility" value="public" ngModel required>Public
      <input type="radio" name="visibility" value="private" ngModel>Private
    </mat-radio-group>
    <br>
    <br>
    <button mat-raised-button type="submit" [disabled]="!videoForm.valid">Save</button>
  </form>
</div>
<div class="card-div">
  <h1>Video Preview</h1>
  <mat-card>
    <h2>Description</h2>
    Url: {{url.value}}<br>
    Title: {{title.value}}<br>
    Duration: {{duration.value}}<br>
    Date: {{date.value}}<br>
    {{videoForm.value | json}}
    valid: {{videoForm.valid}} <br>
    touched: {{videoForm.touched}}<br>
    submitted: {{videoForm.submitted}}
  </mat-card>
</div>
