<app-student (stuAdded)="onStuAdded($event)"></app-student>


<!--<button type="button" (click)="save()">Click</button>


    {{todayDate}}

<div>
    <input type="text" placeholder="Enter name" [(ngModel)]="name" />
    <input type="text" placeholder="Enter email" [(ngModel)]="email" />
    <input type="button" (click)="register()" value="Submit"/>
</div>-->

<!--<app-hero></app-hero>-->



<!--<h1>wave 12 </h1>
<app-atrdir></app-atrdir>
<h1>{{title}}</h1>
My stu name is :{{name}}
<app-rxjxex></app-rxjxex>
<div *appCheck=true>
    <h1>this is check directive</h1>
</div>

<input appFocus="green" type="text"/>-->
<!--
<input type="button" (click)="save()" value="click here"/>
<app-demo></app-demo>
this is app component
<app-hero [childmsg]="parentmsg" (myoutput)="Getchildmsg($event)"></app-hero>

<h1 [innerText]="title"></h1>
<button [disabled]="isDisable">Disbaled button</button>

<input type="text" [(ngModel)]="one"/>
Enter text:
<input type="text" [(ngModel)]="val"/>

<app-directiveex></app-directiveex>

-->
