<!-- <div class="signup-form-container">
  <h2 class="jumbotron"> SignUp Form </h2>
  <form action="" class="signup-form" (ngSubmit)="signUp()">
       
    <mat-form-field>
            <label for="inputUserId">UserName</label>
                <input matInput class="userName"  [formControl]="userName">
                <mat-error *ngIf="firstName.required && firstName.touched">Enter FirstName</mat-error>
            </mat-form-field><br>
              
    <mat-form-field>
          <input matInput class="firstName" placeholder="Enter FirstName" [formControl]="firstName">
          <mat-error *ngIf="firstName.required && firstName.touched">Enter FirstName</mat-error>
      </mat-form-field><br>
      <mat-form-field>
        <input matInput class="lastName" placeholder="Enter LastName" [formControl]="lastName">
        <mat-error *ngIf="lastName.required && lastName.touched">Enter LastName</mat-error>
    </mat-form-field><br>
      <mat-form-field>
          <input matInput class="userPassword" placeholder="Enter Password" type="password" [formControl]="userPassword">
          <mat-error *ngIf="userPassword.required && userPassword.touched">Enter password</mat-error>
          <mat-error *ngIf="userPassword.minlength && userPassword.touched">password must be min 4 characters</mat-error>
      </mat-form-field><br>
      <mat-form-field>
        <input matInput class="userMobile" placeholder="Enter Mobile number" [formControl]="userMobile">
        <mat-error *ngIf="userMobile.required && userMobile.touched">Enter Mobile number</mat-error>
    </mat-form-field><br>
    <mat-form-field>
        <input matInput class="userRole" placeholder="Enter UserRole"  [formControl]="userRole">
        <mat-error *ngIf="userRole.required && userRole.touched">Enter UserRole</mat-error>
    </mat-form-field><br>
      <button mat-button>Register</button>
      <br>
      <strong class="error-message" *ngIf="submitMessage">{{this.submitMessage}}</strong>
  </form>
</div> -->


<div class="signup-form-container">
    <h2> User Registration Form </h2>
    <form class="signup-form" #signUpForm="ngForm" (ngSubmit)="signUpUser(signUpForm)">
        <div class="form-group">
          <label for="inputUserId">UserId</label>
          <input type="text" class="form-control" id="inputUserId" [(ngModel)]="user.userId" name="userId" aria-describedby="userIdHelp" placeholder="Enter User ID" required minlength="6" #userId="ngModel">
          <small *ngIf="userId?.touched && userId.errors?.required" class="validation-error">UserId is Required</small>
          <small *ngIf="userId?.touched && userId.errors?.minlength" class="validation-error">UserId must be min 6 characters</small>
        </div>
        
        <div class="form-group">
          <label for="inputPassword">Password</label>
          <input type="password" class="form-control" id="inputPassword" name="userPassword" placeholder="Enter Password" [(ngModel)]="user.userPassword" required minlength="6" #userPassword="ngModel">
          <small *ngIf="password?.touched && password.errors?.required" class="validation-error">Password is Required</small>
          <small *ngIf="password?.touched && password.errors?.minlength" class="validation-error">Password must be min 6 characters</small>
        </div>
        
        <div class="form-group">
          <label for="inputFirstname">FirstName</label>
          <input type="text" class="form-control" id="inputFirstname" [(ngModel)]="user.firstName" name="firstName" aria-describedby="firstNameHelp" placeholder="Enter First Name" required minlength="3" #firstName="ngModel">
          <small *ngIf="firstName?.touched && firstName.errors?.required" class="validation-error">firstName is Required</small>
          <small *ngIf="firstName?.touched && firstName.errors?.minlength" class="validation-error">firstName must be min 3 characters</small>
        </div>
      
        <div class="form-group">
          <label for="inputLastname">LastName</label>
          <input type="text" class="form-control" id="inputLastname" [(ngModel)]="user.lastName" name="lastName" aria-describedby="lastNameHelp" placeholder="Enter Last Name" required minlength="3" #lastName="ngModel">
          <small *ngIf="lastName?.touched && lastName.errors?.required" class="validation-error">lastName is Required</small>
          <small *ngIf="lastName?.touched && lastName.errors?.minlength" class="validation-error">lastName must be min 3 characters</small>
        </div>
      
         <div class="form-group">
          <label for="selectUserRole">UserRole</label><br>
          <select name="gender">
            <option value = "user">Master</option>
            <option value = "guest">Guest</option>
            <option value = "developer">Developer</option>
          </select>
          <small *ngIf="userRole?.touched && userRole.errors?.required" class="validation-error">User Role is Required</small>
       
        </div>
      
        <div class="form-group">
          <label for="inputuserMobile">Mobile Number</label>
          <input type="text" class="form-control" id="inputuserMobile" [(ngModel)]="user.userMobile" name="userMobile" aria-describedby="userMobileHelp" placeholder="Enter Mobile Number" required minlength="10" #userMobile="ngModel">
          <small *ngIf="userMobile?.touched && userMobile.errors?.required" class="validation-error">Mobile No is Required</small>
          <small *ngIf="userMobile?.touched && userMobile.errors?.minlength" class="validation-error">Mobile No must be minimum 10 digits</small>
        </div>
      
      
        <button type="submit" class="btn btn-primary" >SignUp</button>
    </form>
        <div class="backlogin-css">
          <a href="http://localhost:4200/login"><button mat-button class="btn btn-primary" >Go Back To Login</button></a>
          <h6 class="user-message">{{this.submitMessage}}</h6>
        </div>
  </div>
  
  
